<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
    “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表可以在
    machine.config.comments 中找到，该文件通常位于
      \Windows\Microsoft.Net\Framework\vx.x\Config 中 
-->
<configuration>
  <appSettings>
    <!--是否跳过登录验证码校验：1不验证，空或其余值都验证-->
    <add key="SkipAuthCode" value="0"/>

    <!--默认上传文件路径-->
    <add key="UploadPath" value="/UploadFile/Common"/>
    <!--默认登陆后导航页面-->
    <add key="defaultUrl" value="/Portal1/Default1.aspx"/>
    <!--默认错误导航页面-->
    <add key="errorUrl" value="/AuthErrorPage.aspx"/>
    <!--默认登出导航页面-->
    <add key="LogOutUrl" value="/Login.aspx"/>
    <add key="BIApiUrl" value="http://192.168.1.99:8001/"/>
    <add key="DataUrl" value="E:\Web.DotSpatial\产品代码\Web.DotSpatial\Web.DotSpatial\App_Data\"/>
    <!--  <add key="DataUrl" value="F:\GitHub\Web.DotSpatial\产品代码\Web.DotSpatial\Web.DotSpatial\App_Data\"/>-->
  </appSettings>
  <location path="Portal">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <!--requestValidationMode="2.0"解决富文本编辑器提交特殊标记，后台验证-->
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" requestValidationMode="2.0"/>
    <httpHandlers>
      <add verb="GET, POST" path="action.ashx" type="NHExt.Runtime.GAIA.HttpHandler.JsonHandler, NHExt.Runtime.GAIA"/>
      <add verb="GET, POST" path="service.ashx" type="NHExt.Runtime.GAIA.HttpHandler.WCFHandler, NHExt.Runtime.GAIA"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="NHExt.Runtime"/>
        <add assembly="NHExt.Runtime.GAIA"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms name="GAIA.Web.Emer" defaultUrl="Portal1/LayoutB1/Default1.aspx" loginUrl="/Login.aspx" timeout="500" slidingExpiration="true" protection="None" path="/" cookieless="UseCookies"/>
    </authentication>
    <!--配置匿名用户不能访问-->
    <!--<authorization>
      <allow users="*"/>
    </authorization>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;ApplicationLib"/>
    </assemblyBinding>
  </runtime>
  <!--请求处理设置为true-->
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
