<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Entity" value="Template/BE/Entity.tt"/>
    <add key="EntityExtend" value="Template/BE/EntityExtend.tt"/>
    <add key="Enum" value="Template/BE/Enum.tt"/>
    <add key="EnumExtend" value="Template/BE/EnumExtend.tt"/>
    
    <add key="EntityDTO" value="Template/DTO/EntityDTO.tt"/>
    <add key="EntityDTOExtend" value="Template/DTO/EntityDTOExtend.tt"/>
    <add key="EnumDTO" value="Template/DTO/EnumDTO.tt"/>
    <add key="EnumDTOExtend" value="Template/DTO/EnumDTOExtend.tt"/>

    <add key="BPAgent" value="Template/BP/BPAgent.tt"/>
    <add key="BPProxy" value="Template/BP/BPProxy.tt"/>
    <add key="BPExtend" value="Template/BP/BPExtend.tt"/>
    
    
    <add key="Project" value="Template/Pub/Project.tt"/>
    <add key="ProjectTargets" value="Template/Pub/ProjectTargets.tt"/>
    <add key="ProjectAssembly" value="Template/Pub/ProjectAssembly.tt"/>
    <add key="Solution" value="Template/Pub/Solution.tt"/>
    <add key="MetaPath" value="\..\MetaData;\..\..\..\GAIA公用类库\平台工具\MetaData;\..\..\..\GAIA权限代码\平台工具\MetaData;"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
